/*body {
  background: url('../images/background.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
}*/

body * {
  box-sizing: border-box;
}

.carousel {
  background-color: blue;
  position: relative;
  top: 10rem;
  left: 10%;
  width: 80%;
  height: 15rem;
  overflow: hidden;
}

  .button {
    position: absolute;
    top: 40%;
  }

    .prev {
      left: 0;
      background: url('../images/MLBHP_mediawall_icons.png') no-repeat 50% 50%;
      background-position: -6px -73px;
      width: 29px;
      height: 56px;
    }

    .next {
      right: 0;
      background: url('../images/MLBHP_mediawall_icons.png') no-repeat 50% 50%;
      background-position: -45px -72px;
      width: 28px;
      height: 57px;
    }

  .carousel__thumbnails {
    position: absolute;
    top: 26%;
    left: 2rem;
    background-color: red;
    height: 50%;
    width: 1000%;
  }

    .carousel__thumbnails__content {
      position:relative;
      background-color: green;
      width: 1.2%;
      height: 100%;
      display: inline-block;
      float: left;
      z-index:0;
      margin: 0 .2rem;
    }
